{% extends "speeches/base.html" %}

{% block css.custom %}
{{ block.super }}
<style type="text/css">
#speech p:hover {
	background: #E5ECF9;
}
</style>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="http://code.jquery.com/jquery-1.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#speech > p').each(function(i){
		var a = $('<a/>');
		a.attr('class', 'note-link');
		a.attr('href', '#p' + i);
		a.text('Notes');
		$(this).append(a);
		$(a).click(function(){
			var notes = $('div#i' + i).children();
			var new_notes = $('<div/>').addClass('notes').hide().html(notes);
			a.parent().after(new_notes);
			notes.slideDown('slow');
		});
	});
})
</script>
{% endblock %}

{% block title %}{{ speech.title }} | {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ speech.title }}</h2>
<div id="description">{{ speech.description }}</div>

<div id="speech" class="span-12">
{% block speech %}
{{ speech.transcript_html|safe }}
{% endblock %}
</div>

{% block footnotes %}

{% load markup %}

{% regroup footnotes by index as index_list %}
<div id="footnotes" class="clear">
{% for index in index_list %}
	<div id="i{{ index.grouper }}" class="footnote">
		{% for footnote in index.list %}
		{{ footnote.render|safe }}
		{% endfor %}
	</div>
{% endfor %}
</div>

{% comment %}
{# <script type="text/javascript"> #}
var footnotes = {}
{% for index in index_list %}
footnotes[{{ index.grouper }}]['count'] = {{ index.list|length }};
footnotes[{{ index.grouper }}]['notes'] = [
	{% for footnote in index.list %}{
		type: '{{ footnote.note_type }}',
		icon: '{{ footnote.note_type.icon }}',
		author: '{{ footnote.author.get_full_name }}',
		text: '{% spaceless %}{{ footnote.render }}{% endspaceless %}'
	},{% endfor %}
];
{% endfor %}
</script>
{% endcomment %}
{% endblock %}

{% endblock %}