{% extends "speeches/base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}js/fancybox/fancybox.css" type="text/css" media="screen">
{% endblock %}
{% block js %}
{{ block.super }}
<script src="{{ MEDIA_URL }}js/fancybox/fancybox.js" type="text/javascript"></script>  
 
<script type="text/javascript"> 

$(document).ready(function(){
	$('#speech > p').each(function(i){
		// get attached notes
		var notes = $('div#i' + i).children();
		
		var noteType;
		var icons = {
			video: '{{ MEDIA_URL }}css/footnotes/images/btn_video.gif',
			comment: '{{ MEDIA_URL }}css/footnotes/images/btn_response.gif',
			document: '{{ MEDIA_URL }}css/footnotes/images/btn_source.gif'
		};
		
		if ($(notes[0]).is('.video')) {
			noteType = 'video'
		} else if ($(notes[0]).is('.comment')) {
			noteType = 'comment'
		} else if ($(notes[0]).is('.document')) {
			noteType = 'document'
		};
		
		var link_img = $('<img/>').attr('src', icons[noteType]);
		
		if (notes.length >=1) {
		// make a link to grab those notes
			var a = $('<a/>');
			a.attr('class', 'note-link ' + noteType);
			a.attr('href', '#i' + i);
			if (notes.length == 1) {
				a.attr('title', '1 Response');
				link_img.attr('alt', '1 Response');
			} else {
				a.attr('title', notes.length + ' Responses');
				link_img.attr('alt', notes.length + ' Responses');
			};
			a.html(link_img);
			$(this).append(a);
		};
		// $(this).wrap('<div class="wrapper" id="ps' + i + '"></div>');
		
	});
	
	/* Set lightbox config */
	
	$('a.note-link').click(function() {
		$.fancybox(this, {
		'zoomSpeedIn':		300, 
		'zoomSpeedOut':	300, 
		'overlayShow':		true,					  
		'hideOnContentClick': false,
		'autoDimensions'    : false,
		'frameWidth'        : 600,
		'frameHeight'       : 'auto',
		'padding'			: 30,
		'overlayOpacity' 	: .4,
		'overlayColor'		: '#000000'
		});
		return false;
	});
	
})
</script> 
 <style>
    #footnotes { display: none; }
     
    a.note-link {
    	position: absolute;
    	top: 0px;
    	left: -10em;
    }
     
    div.wrapper {
    	position: relative;
    	display: inline;
    }
     
    .speech p { position: relative; }
	
	 
</style>
{% endblock %}

{% block title %}{{ speech.title }} | {{ block.super }}{% endblock %}

{% block description %}{{ speech.description }}{% endblock %}

{% block bios %}
    {% for guest in guest_list %}
		<div id="{{ guest.username }}" class="notes">
          <h4>{{ guest.get_full_name }}</h4>
          <p>{% if guest.profile.image %}<img src="{{ guest.profile.image.thumbnail.url }}" height="50" width="50" />{% endif %}{{ guest.profile.bio }}</p>
        </div>
	{% endfor %}
{%  endblock %}

{% block  participants %}
	{% for guest in guest_list %}
		<div class="bio">{% if guest.profile.image %}<a href="#{{ guest.username }}"><img src="{{ guest.profile.image.thumbnail.url }}" height="50" width="50" /></a><br />{% endif %}
            <a href="#{{ guest.username }}">{{ guest.first_name }} <br />
          {{ guest.last_name }}</a></div>
	{% endfor %}
{% endblock %}

{% block speech %}
{{ speech.transcript_html|safe }}
{% endblock %}

{% block footnotes %}
{% regroup footnotes by index as index_list %}
<div id="footnotes" class="clear">
{% for index in index_list %}
	<div id="i{{ index.grouper }}" class="footnote">
		{% for footnote in index.list %}
		{{ footnote.render|safe }}
		{% endfor %}
	</div>
{% endfor %}
</div>

{% endblock %}

